<div class="container">
<h3>WANT TO CHEERUP SOMEONE UP?</h3> 
<h6>WRITE YOUR CHEERUP</h6>
  <form action='/cheerup' method="POST">
    <textarea maxlenght="250" name="message" id="" cols="30" rows="10"></textarea>
    <button>Create</button>
  </form>

 <button><a href="/cheerup">Go Home</a></button>
 
</div>

