<div class="container">
  <div class="new">
    <h3>WRITE YOUR CHEERUP</h3>
    <p>Write about something that made your day. Something your grateful for. <br> HINT: Keep it short and sweet, one sentence is perfect!*</p>
    
    <form action='/cheerup' method="POST">
      <textarea maxlenght="67" name="message" id="" cols="60" rows="5"></textarea><p>*67 characters max</p>
      <button>CREATE</button>
    </form>

    <button><a href="/cheerup">GO HOME</a></button>
  </div> 
</div>

