<div class="container">
    <div class="show"></div>
        <h1><%= single_result["message"] %></h1>
        <aside><%= single_result["email"] %></aside>
        <%= single_result["likes"] %>
        <br />
        
     <button><a href="/cheerup">Go Home</a></button>    
    </div>

    

</div>