<div class="container">

    <div class="show">
        <h1><%= single_result["message"] %></h1>
        <i class="fas fa-heart"></i> <%=total[single_result["id"]]%>
        <button><a href="/cheerup">Go Home</a></button>    
    </div>

</div>
