<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/css/style.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/935f70fe09.js" crossorigin="anonymous"></script>
</head>
<body>
  <header>
  <h3>WELCOME TO</h3>
  <h1>CHEERUPS</h1>
  <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi porro libero inventore ducimus ipsa cupiditate, eius a, repellat ad exercitationem magnam tenetur veritatis nemo. Eveniet veritatis maiores error neque ea.</h6>
  </header>

  

  <%= yield %>

</body>
</html>
