<div class="container">
  <div class="signup">
    <h1>Sign up</h1>

    <form action="/users" method="POST">
      <label for="first_name">First Name: </label>
      <input type="text" name="first_name">
      <label for="email">Email: </label>
      <input type="text" name="email">
      <label for="password">Password: </label>
      <input type="password" name="password">
      <button><a href="/cheerup">Sign up</a></button>
    </form>
  </div>
  
</div>