<div class="container">
  <div class="signup">
    <h1>Sign up</h1>

    <form action="/users" method="POST">
      <label for="first_name">First Name: </label><br>
      <input type="text" name="first_name"><br>
      <label for="email">Email: </label><br>
      <input type="text" name="email"><br>
      <label for="password">Password: </label><br>
      <input type="password" name="password"><br>
      <button>Sign up</button>
    </form>
  </div>
  
</div>